<!DOCTYPE html>
<html>
  <head>
    <title>Spacevoice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
    <h1 class="hello-space">Hello Space</h1>
    <div class="header-right">
      <% if user_signed_in? %>
        <div class="header-right-leftbutton">
          <%= link_to "New", new_voice_path, method: :get %>
        </div>
        <div class="header-right-rightbutton">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </div>
      <%else%> 
        <div class="header-right-leftbutton">
          <%= link_to "Log in", new_user_session_path, method: :get %>
        </div>
        <div class="header-right-rightbutton">
          <%= link_to "Sign up", new_user_registration_path, method: :get %>
        </div>
      <%end%>
    </div>

  </header>

  <body>
    <%= yield %>
  </body>

  <footer class="footer" id="footer">
  </footer>

</html>
